header {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}

header img {
  max-height: 80px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

header ul {
  padding-inline-start: 20px;
}

header li {
  display: inline;
  margin-right: 20px;
}

#detail img {
  max-height: 400;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
}

.App {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: #ffffff;
  text-decoration: none;
}
